@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}

#bad-apple-canvas {
	width: 10px;
	height: 10px;
}
#bad-apple-video {
	width: 100px;
	height: 100px;
}